.banner {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e5/Graeter%27s_Ice_Cream_Shield_Logo.jpg");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    border-bottom: solid;
}


.inline {
    display: inline-block;
    margin-right: 25px;
}
.checkbox-inline {
    width: 550px;
}
.sidenav {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 6px 18px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

body{
    margin: 0;
    padding-left: 120px;
    padding-right: 10px;
}

#doctable td {
    transition: all .2s ease-in-out;
    min-width: 40px;
    border: 1px solid #000000;

}
#doctable td:hover { transform: scale(1.1)}

#top td{
    border: 1px solid black;
    border-collapse: collapse;
}
#reviewtable {
    border: 1px solid #000000;
}
#reviewtable td{
    border: 1px solid #000000;
}
tr.question{
    width: 50%;
}
td.question {
    width: 40%;


}
td.answer {
    width: 5%;
}
th.rotate {
    height: 140px;
    white-space: nowrap;
}
th.rotate > div {
    transform:
            translate(0px, 51px)
            rotate(315deg);
    width: 30px;
}
#doctable {
    border: groove;
}

#tablecontainer {
    padding-top: 5%;
    padding-left: 2%;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}


HTML CSS

Result

EDIT ON

.switch-field {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    padding: 40px;
    overflow: hidden;
    display: inline-block;
}

.switch-title {
    margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    float: left;
}

.switch-field label {
    display: inline-block;
    width: 60px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #A5DC86;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}


