{{define "header"}}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="css/bootstrap-switch/bootstrap-switch.css" rel="stylesheet">
    <title>Sales Analytics</title>

</head>
<body>
{{end}}