{{define "home"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/custom.css" />

    <title>Sales Analytics</title>

</head>
<body>
<div class="banner"></div>
{{template "navbar"}}

</body>
</html>
{{end}}