{{define "newreview"}}
<html lang="en">
{{template "header"}}
<div class="banner"></div>
<div class="sidenav">
    <a href="/">Home</a>
    <a href="/stores">Stores</a>
    <a href="/profile">Profile</a>
</div>
<input type="checkbox" checked data-toggle="toggle">
</body>
</html>
{{end}}